/* Header and nav bar css here */
.snuggly_header{
    font-family: 'Special Elite', cursive;
    text-emphasis-style: bold;
}

.navbar{
    margin: 0px;
    height: 10vh;
    background-color: blanchedalmond;

}
.nav {
    color: black;
    margin:0;
}
.content{
    color:black
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;    
}

li{
    color: white;
    margin: 0;
    font: 1em sans-serif;
    display: inline;
    display:block;
    /* font-weight: bold; */
    font-size: 25px;
}







/* Main content css starts here */

.content {
    grid-area: content;
    min-height: 100vh;
    position: relative
}

/* Centering carousal slidershow */
.carousel-inner img {
    margin: auto;
  }

.MainService{
    margin: 0px;
    height: 10vh;
    background-color: blanchedalmond;
    color: rgb(61, 125, 192);
}

.text_over_img .text{
    /* position: absolute; */
    /* z-index: 999; */
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    background: rgb(36, 104, 177);
    font-family: Arial,sans-serif;
    color: rgb(255, 255, 255);
}

.MainService{
    font-weight: bold;
}

.whyUs{
    display:inline-block;
    text-align:left;  
    font-weight: bold;
}



/* Footer css */
.footerelements{
    /* text-align: center; */
    display: inline-block;
    /* margin: auto; */
    width: 100%;
}
.logo_and_copyright{
    display:inline-block;
    text-align:left;
    padding: 5px;
    margin: 2px;
    width: 620px;
    height: 300px;
    color: black;
}

.firstthreelinks{
    display:inline-block;
    text-align:left;
    padding: 5px;
    margin: 2px;
    width: 620px;
    height: 300px;
    color: black;
}

.secondthreelinks{
    display:inline-block;
    text-align:left;
    padding: 5px;
    margin: 2px;
    width: 620px;
    height: 300px;
    color: black;
}

.footerlinks{
    color: black;
    margin: auto;
    display:initial;
    float: left;
    display:block;
    padding: 10px;
}

.socials{
    display:inline-block;
    text-align:left;
}

/* Pet Food page css */
.search_bar .input_search{
	outline:auto;
    outline-color: rgb(60, 124, 208);
	border: 0;
	border-radius: 50px;
	padding: 15px 20px;
	width: 1000px; 
	height: 55px;
	color: black;
    font-size: 20px;
}

::placeholder {
  color: rgb(4, 4, 4);
}

::-webkit-input-placeholder {
    color: rgb(4, 4, 4);
}

:-ms-input-placeholder {
    color: rgb(4, 4, 4);
}
.line{
    outline-width: 2px;
    outline-style:dotted;
    outline-color: rgb(60, 124, 208);
}

/* customize food plan */
.custom_form{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------- Contact us page css starts here---------- */

#registration_form{
    font-size: 18px;
}
.formcontainer{
    padding: 10px;
    /* background-color:rgba(8, 8, 8, 0.404); */
    min-height:100vh;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* text-align: center; */
    /* box-shadow: 0px 0px 3px black; */
}

.contactinfo{
    color: black;
    text-align: left;
}

.formgroup{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: black;
}

.formgroup input 
{
    width: 100%;
    padding:5px;
    border:1px solid gray;
    font-size: 20px;
    margin-top: 10px;
}

.formgroup textarea{
    width:100%;
    padding:5px;
    resize: vertical;
    font-size: 20px;
    margin-top: 10px;
}

button[type="submit"]{
    margin-top: 10px;
    padding: 20px;
    width:100%;
    margin:0 auto;
    float: right;
    border-radius: 8px;
    font-size: 20px;
    background-color: rgba(60, 124, 208, 0.844);

}

input:required:invalid, input:focus:invalid {
    box-shadow: none;
    border-bottom: 1px solid red;
  }

  /* About us content */
.aboutUs_contact{
    width: 850px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Subsciption */

.subscription_form{
    padding: 10px;
    min-height:80vh;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subscription_form_formgroup{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: black;
    text-align: left;
}

.subscription_form_formgroup input 
{
    width: 100%;
    padding:5px;
    border:1px solid gray;
    font-size: 20px;
    margin-top: 10px;
}

.subscription_form_formgroup textarea{
    width:100%;
    padding:5px;
    resize: vertical;
    font-size: 20px;
    margin-top: 10px;
}

.subscription_form_formgroup label{
    font-size: 20px;
}