/* Header and nav bar css here */
.snuggly_header{
    font-family: 'Special Elite', cursive;
    text-emphasis-style: bold;
}

.navbar{
    margin: 0px;
    height: 10vh;
    background-color: blanchedalmond;

}
.nav {
    color: black;
    margin:0;
}
.content{
    color:black
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;    
}

li{
    color: white;
    margin: 0;
    font: 1em sans-serif;
    display: inline;
    display:block;
    /* font-weight: bold; */
    font-size: 25px;
}







/* Main content css starts here */

.content {
    grid-area: content;
    min-height: 100vh;
    position: relative
}






/* Footer css */
.footerelements{
    /* text-align: center; */
    display: inline-block;
    /* margin: auto; */
    width: 100%;
}
.logo_and_copyright{
    display:inline-block;
    text-align:left;
    padding: 5px;
    margin: 2px;
    width: 620px;
    height: 300px;
    color: black;
}

.firstthreelinks{
    display:inline-block;
    text-align:left;
    padding: 5px;
    margin: 2px;
    width: 620px;
    height: 300px;
    color: black;
}

.secondthreelinks{
    display:inline-block;
    text-align:left;
    padding: 5px;
    margin: 2px;
    width: 620px;
    height: 300px;
    color: black;
}

.footerlinks{
    color: black;
    margin: auto;
    display:initial;
    float: left;
    display:block;
    padding: 10px;
}
